/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

navbar_button {
    border-radius: 8px;
}

div.form {
    display:block; 
    border-radius: 50px; 
    border-style: solid; 
    width:70%; 
    margin-left:15%; 
    padding:2%;
}

div.form-field {
    margin:15px; 
    display:flex; 
    flex-direction:column; 
    border-radius: 10px;
}

button.back {
    display:flex; 
    background-color: aliceblue;
    margin:10px; 
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}

#notice {
    background-color: rgba(39, 221, 3, 0.5); 
      margin:20px;
      padding: 10px;
      border-radius: 8px;
}

.header {
    font-family: Playfair;
    margin:0 3%;
    font-size: 50px;
    font-weight:600;
}

.header-form {
      font-family: Playfair;
      text-align: center;
      margin:20px;
      font-size: 50px;
      font-weight:600;
}
  
link {
    color: grey; 
    text-decoration:none;
}

button.delete{
    background-color: rgb(224, 63, 22);
    border-radius: 8px;
    padding: 4px;
    margin: auto;
    width: 50%;
}

button.add-by-one{
    margin: 6px 0;
    padding: 0;
    background-color: rgb(241, 75, 33);
    border-radius: 8px;
    width: 22px;
    height: 25px;
    font-size: 15px;
    font-weight: 1000;
}

button.minus-by-one{
    margin: 6px 0;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    width: 22px;
    height: 25px;
    font-size: 15px;
    font-weight: 1000;
}