// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.product-image {
    text-align: center; 
    width: 30%; 
    height:300px; 
    overflow:hidden;
}

div.product-showbox {
    display:flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    width: 100%;
    margin-top: 20px;
}

div.product-detail {
    margin-top: 10px;
}

div.product-specs {
    display:flex; 
    flex-direction:row; 
}

label.product-spec {
    display:flex; 
    background-color: aliceblue;
    margin-right:10px; 
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 2px outset;
    border-left-color: gainsboro;
    border-top-color: gainsboro;
}

input.product-spec {    
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

label.product-spec:hover {
    border-color: rgb(133, 197, 253);
}

label.product-spec.active {
    border-color: rgb(133, 197, 253);
}

button.product-edit {
    display:flex; 
    background-color: black;
    margin:auto; 
    border-radius: 10px;
    width:30%;
    font-size: 13px;
}

button.product-addCart {
    display:flex; 
    background-color: rgb(255, 159, 143);
    margin:5px; 
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    color: white;
}

button.product-addCollection {
    display:flex; 
    background-color: rgb(193, 255, 143);
    margin:5px; 
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    color: white;
}

div.product-button-row {
    display:flex; 
    flex-direction: row;
}